* {
    box-sizing: border-box;
}

:root {    
    --indent: 30px;
    --header-height: 55px;
    --header-back-color: #b3ffb3;        
}

body {
    font-family: Georgia, serif;
    color: rgb(49, 49, 49);
    margin: 0;
    padding: 0;    
}

/* HEADER styles */

header {
    background-color: var(--header-back-color);
    width: 100%;
    height: var(--header-height);   
    position: fixed;
    z-index: 20;

}

.header-wrp {
    margin: auto;
    width: calc(100% - calc(var(--indent)*2));
    display: grid;
    grid-template-rows: var(--header-height);
    grid-template-columns: 180px 120px 120px 120px auto;
    grid-template-areas: "logo name date1 date2 empty";
    align-items: center;     
}

.logo {
    grid-area: logo;
    height: 50px;    
}

.btn-wrp, .btn-wrp:focus {
    background-color: var(--header-back-color);
    border: 0;
    outline: 0;
    height: 55px;
}


.btn-wrp:hover {
    cursor: pointer;
    background-color: #00cc00;
    color: white;
}

.episode-sort {
    grid-area: name;
}

#date-sort-desc {
    grid-area: date1;
}

#date-sort-asc {
    grid-area: date2;
}

.hd-text {
    font-size: 1rem;
    font-weight: bold;
}

/* CARDS BLOCK */

#container {
    position: relative;
    top: var(--header-height);
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.card-wrp {    
    margin: 20px 10px;
    width: 180px;
    border-radius: 10px;
    background-color: #ccffcc;
    font-size: 0.9rem;   
}

.card-wrp:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.title {
    font-weight: bold;
    margin: 5px;
}

.text {    
    margin: 5px;
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;   
    padding: 2%;   
    border-radius: 70px;
}

.caps {
    text-transform: uppercase;
}

.delete-btn {
    border: 0;
    outline: 0;
    opacity: 0.6;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    font-size: 2rem;
    font-weight: bold;    
    position: absolute;
    text-align: center;    
}

.delete-btn:hover {
    opacity: 1;
    cursor: pointer;
    background-color: var(--header-back-color);
}

